<div class="row">
  <div class="medium-6 large-4 columns">
    <%= link_to new_adventure_path do %>
      <button class="button tiny success">
        <span>New Adventure</span>
      </button>
    <% end %>
  </div>
</div>

<div class="row" style="padding-top: 20px;">
  <% @adventures.each do |adventure| %>
    <%= link_to adventure_path(adventure) do %>
      <div class="medium-6 large-4 columns">
        <div class="panel">
          <h3 class="text-center">
            <%= truncate adventure.title, length: 20 %>     
          </h3>
          <hr>
          <div class="text-center">
            <p>
              <b> 
                <%= pluralize adventure.dangers.count, 'danger' %> 
              </b>
            </p>
            <p>
              <b> 
                <%= print_grim_portents_count adventure.id %> 
              </b>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

