<div class="row">
  <div class="large-8 columns">
    <p id="notice"><%= notice %></p>

    <p>
      <b>Title:</b>
      <%= @adventure.title %>
    </p>

    <p>
      <b>Description:</b>
      <%= @adventure.description %>
    </p>


    <%= link_to 'Edit', edit_adventure_path(@adventure) %> |
    <%= link_to 'Back', adventures_path %>
  </div>
</div>
