<div class="row">
  <div class="large-8 large-offset-2 columns white-panel">
    <p id="notice"><%= notice %></p>

    <%= button_to 'Delete', @adventure, method: :delete, confirm: 'Are you sure?', class: 'button tiny right alert' %>

    <p>
      <b>Title:</b>
      <%= @adventure.title %>
    </p>

    <p>
      <b>Description:</b>
      <%= @adventure.description %>
    </p>

    <p>
      <b>Dangers:</b>
      <% if @adventure.dangers.any? -%>
        <ul class="accordion" data-accordion>
          <% @adventure.dangers.each do |danger| -%>
              <%= render partial: 'dangers/list_item', locals: {danger: danger} %>
          <% end %>
        </ul>
      <% else %>
        <i>No dangers found.</i>
      <% end %>
    </p>

    <%= link_to 'Edit', edit_adventure_path(@adventure) %> |
    <%= link_to 'Back', adventures_path %>
  </div>
</div>
