<fieldset>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :impulse %>
    <%= f.text_field :impulse %>
  </div>
  <div class="field">
    <%= f.label :impending_doom %>
    <%= f.text_field :impending_doom %>
  </div>
</fieldset>
