<li class="accordion-navigation">
  <a href="#panel-<%= f.object.id || f.object.object_id %>">
    <%= f.object.title || 'New Danger' %>
    <%= button_tag 'Delete', type: 'button', class: 'button alert tiny right remove-fields' %>
  </a>
  <div id="panel-<%= f.object.id || f.object.object_id %>" class="content">
    <fieldset>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :impulse %>
        <%= f.text_field :impulse %>
      </div>
      <div class="field">
        <%= f.label :impending_doom %>
        <%= f.text_field :impending_doom %>
      </div>
      <%= f.hidden_field :_destroy %>
      <!--
      <%= link_to_add_fields 'grim_portents/fields', 'Add Grim Portent', f, :grim_portents %>
      <div class="row">
        <%= f.fields_for :grim_portents do |builder| %>
          <%= render partial: 'grim_portents/fields', locals: {f: builder} %>
        <% end %>
      </div>
      -->
    </fieldset>
  </div>
</li>
