<div class="row">
  <div class="large-4 columns">
    <%= link_to new_adventure_path do %>
      <%= button_tag type: 'button', class: 'button tiny success' do %>
        <%= content_tag :span, 'New Adventure' %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row" style="padding-top: 20px;">
  <% if @adventures.any? -%>
    <% @adventures.each do |adventure| %>
      <%= link_to adventure_path(adventure) do %>
        <div class="large-4 columns">
          <div class="panel">
            <h3 class="text-center">
              <%= truncate adventure.title, length: 20 %>     
            </h3>
            <hr>
            <div class="text-center">
              <b>
                <%= pluralize adventure.dangers.count, 'danger' %>
              </b>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="text-center">
      <p>No Adventures found.</p>
    </div>
  <% end %>
</div>

