<div class="row">
  <div class="large-8 large-offset-2 columns white-panel">
    <p id="notice"><%= notice %></p>

    <div class="left">
      <%= link_to edit_adventure_path(@adventure) do %>
        <%= button_tag type: 'button', class: 'button tiny warning' do %> 
          <%= content_tag :span, 'Edit' %>
        <% end %>
      <% end %>
    </div>

    <div class="text-right">
      <%= button_to 'Delete', @adventure, method: :delete, confirm: 'Are you sure?', class: 'button tiny alert' %>
    </div>

    <p>
      <b>Title:</b>
      <%= @adventure.title %>
    </p>

    <p>
      <b>Description:</b>
      <%= @adventure.description %>
    </p>

    <p>
      <b>Dangers:</b>
      <% if @adventure.dangers.any? -%>
        <ul class="accordion" data-accordion>
          <% @adventure.dangers.each do |danger| -%>
              <%= render partial: 'dangers/list_item', locals: {danger: danger} %>
          <% end %>
        </ul>
      <% else %>
        <i>No dangers found.</i>
      <% end %>
    </p>

  </div>
</div>
