<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Front Builder" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <section class="top-bar-section">
        <ul class="right">
          <% nav_links.each do |link| -%>
            <li>
              <%= link %>
            </li>
          <% end -%>
        </ul> 
      </section>
    </nav>

    <%= yield %>
  </body>
</html>
